*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #59C173;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    display: flex;
    justify-content: center;
    
}

.contenedor{
    width: 90vw;
    min-height: 90vh;
    padding: 1vh;
    background: rgba( 178, 178, 178, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.elemento{
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}